# Conda packages
numpy
matplotlib
scikit-learn
pandas
tensorflow      # keras is part of tensorflow in newer versions
imgaug
opencv          # opencv replaces cv2 in conda
# Additional dependencies
pip:
imgaug
